<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Best Quotes</title>
    <link href="style.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>
    <%- include('navbar') %>
    <main>
        <h1>Get Best Quotes</h1>
    
        <div id="table">
            <%- table %>
        </div>
        <hr>
    </main>
	
</body>

</html>
