<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Like Submitted</title>
    <link href="style.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>
    <%- include('navbar') %>
    <main>
        <h1>Thanks</h1>
    
        <div>
            <p><%- message %></p>
        </div>
	
        <hr>
    </main>
</body>

</html>
