<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title><%- name %>'s Best Quotes</title>
    <link href="style.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>
    <%- include('navbar') %>
    <main>
        <h1>All Best Quotes for <%- name %></h1>
    
        <div>
            <%- table %>
        </div>
	
        <hr>
    </main>
</body>

</html>
